.navbar{background-color: black;height: 70px;}
body{margin: 0;padding: 0%;background-color: yellow;}
a{text-decoration: none;color: white;padding: 20px;}
#muss{color: red;}
#aboutme{height: 30px;width: 100px;background-color: blue;}

